body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,#9932cc,#de3163);
}

#calculator {
    width: 400px;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: calc(100% - 40px);
    height: 80px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    font-size: 36px;
    background-color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.btn {
    width: 80px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e0e0e0;
}

.btn:hover {
    background-color: #d0d0d0;
}
